## Project Group 4 - Rishabh Arora, Nivedya Ashokan, Madhura Pande

In [1]:
#import pandas library for reading data and merging
import pandas as pd

In [2]:
#read demographic data
dem_data = pd.read_csv('Demograhic_Data.csv')

In [3]:
dem_data.head()

   2018rank         City    State[c]  2018estimate
0         1     New York    New York       8398748
1         2  Los Angeles  California       3990456
2         3      Chicago    Illinois       2705994
3         4      Houston       Texas       2325502
4         5      Phoenix     Arizona       1660272

In [4]:
#read restaurants data
restaurant_data = pd.read_csv('Restaurants.csv')

In [5]:
restaurant_data.head()

,id,alias,name,image_url,is_closed,url,review_count,category alias,category title,rating,...,city,pincode,country,state,address1,address2,phone,display_phone,distance,price
0,H4jJ7XB3CetIr1pg56CczQ,levain-bakery-new-york,Levain Bakery,https://s3-media2.fl.yelpcdn.com/bphoto/zgjSt_...,False,https://www.yelp.com/biz/levain-bakery-new-yor...,7857,bakeries,Bakeries,4.5,...,New York,10023,US,NY,167 W 74th St-New York,NY 10023,1.917464e+10,(917) 464-3769,8367.197123,$$
1,V7lXZKBDzScDeGB8JmnzSA,katzs-delicatessen-new-york,Katz's Delicatessen,https://s3-media1.fl.yelpcdn.com/bphoto/B6xNx7...,False,https://www.yelp.com/biz/katzs-delicatessen-ne...,11899,delis,Delis,4.0,...,New York,10003,US,NY,205 E Houston St-New York,NY 10003,1.212254e+10,(212) 254-2246,1954.747221,$$
2,xEnNFXtMLDF5kZDxfaCJgA,the-halal-guys-new-york-2,The Halal Guys,https://s3-media1.fl.yelpcdn.com/bphoto/24lb-V...,False,https://www.yelp.com/biz/the-halal-guys-new-yo...,9281,foodstands,Food Stands,4.0,...,New York,10019,US,NY,W 53rd St 6th Ave-New York,NY 10019,NaN,NaN,6397.309914,$
3,44SY464xDHbvOcjDzRbKkQ,ippudo-ny-new-york-7,Ippudo NY,https://s3-media1.fl.yelpcdn.com/bphoto/zF3Egq...,False,https://www.yelp.com/biz/ippudo-ny-new-york-7?...,9900,ramen,Ramen,4.0,...,New York,10003,US,NY,65 4th Ave-New York,NY 10003,NaN,NaN,2854.301267,$$
4,jVncyqXwlx_D9f2xZn05tg,the-metropolitan-museum-of-art-new-york-3,The Metropolitan Museum of Art,https://s3-media2.fl.yelpcdn.com/bphoto/lHEKQR...,False,https://www.yelp.com/biz/the-metropolitan-muse...,2799,artmuseums,Art Museums,4.5,...,New York,10028,US,NY,1000 5th Ave-New York,NY 10028,1.212536e+10,(212) 535-7710,8623.249506,

In [6]:
#merge data using left join
combined_data = restaurant_data.merge(dem_data, left_on='city', right_on='City', how='left', copy=False)

In [7]:
combined_data.head()

,id,alias,name,image_url,is_closed,url,review_count,category alias,category title,rating,...,address1,address2,phone,display_phone,distance,price,2018rank,City,State[c],2018estimate
0,H4jJ7XB3CetIr1pg56CczQ,levain-bakery-new-york,Levain Bakery,https://s3-media2.fl.yelpcdn.com/bphoto/zgjSt_...,False,https://www.yelp.com/biz/levain-bakery-new-yor...,7857,bakeries,Bakeries,4.5,...,167 W 74th St-New York,NY 10023,1.917464e+10,(917) 464-3769,8367.197123,$$,1.0,New York,New York,8398748.0
1,V7lXZKBDzScDeGB8JmnzSA,katzs-delicatessen-new-york,Katz's Delicatessen,https://s3-media1.fl.yelpcdn.com/bphoto/B6xNx7...,False,https://www.yelp.com/biz/katzs-delicatessen-ne...,11899,delis,Delis,4.0,...,205 E Houston St-New York,NY 10003,1.212254e+10,(212) 254-2246,1954.747221,$$,1.0,New York,New York,8398748.0
2,xEnNFXtMLDF5kZDxfaCJgA,the-halal-guys-new-york-2,The Halal Guys,https://s3-media1.fl.yelpcdn.com/bphoto/24lb-V...,False,https://www.yelp.com/biz/the-halal-guys-new-yo...,9281,foodstands,Food Stands,4.0,...,W 53rd St 6th Ave-New York,NY 10019,NaN,NaN,6397.309914,$,1.0,New York,New York,8398748.0
3,44SY464xDHbvOcjDzRbKkQ,ippudo-ny-new-york-7,Ippudo NY,https://s3-media1.fl.yelpcdn.com/bphoto/zF3Egq...,False,https://www.yelp.com/biz/ippudo-ny-new-york-7?...,9900,ramen,Ramen,4.0,...,65 4th Ave-New York,NY 10003,NaN,NaN,2854.301267,$$,1.0,New York,New York,8398748.0
4,jVncyqXwlx_D9f2xZn05tg,the-metropolitan-museum-of-art-new-york-3,The Metropolitan Museum of Art,https://s3-media2.fl.yelpcdn.com/bphoto/lHEKQR...,False,https://www.yelp.com/biz/the-metropolitan-muse...,2799,artmuseums,Art Museums,4.5,...,1000 5th Ave-New York,NY 10028,1.212536e+10,(212) 535-7710,8623.249506,,1.0,New York,New York,8398748.0

In [8]:
#write final data file to csv
combined_data.to_csv('Final_Data.csv', index=False)